@charset "UTF-8";
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.bg-gris {
  background: linear-gradient(to bottom, #333333, #acdeda);
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

/* Estilos para el logo en la barra de navegación */
.navbar-brand img {
  max-width: 100px;
  max-height: 50px;
}

/* Estilo del elemento de navegación */
.nav-link {
  color: #000000;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 15;
  padding: 5px;
  background: linear-gradient(to bottom, #acdeda, rgb(255, 255, 255));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.hero-content h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  background: linear-gradient(to right, #000000, #acdeda);
  -webkit-text-fill-color: transparent;
  color: #acdeda;
}
.hero-content p {
  font-size: 20px;
}
.hero-img {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-center-di {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  min-height: 100vh;
  max-width: 100%;
}

/* Estilos para la sección discos */
.producto {
  width: 100%;
  overflow-x: hidden;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}
.producto img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.producto .producto-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px;
  color: rgb(255, 255, 255);
  align-items: center;
}
.producto .producto-content a {
  padding: 25px;
  background-color: transparent;
  border: 2px solid rgb(6, 6, 6);
  color: #020202;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.about {
  height: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 64, 86);
  background: linear-gradient(to top, #000000, rgba(27, 26, 26, 0) 70%);
}
.about div {
  width: 70%;
  text-align: center;
  /* Agrega el efecto de borde blanco y texto negro */
  text-shadow: 2px 0 rgb(3, 3, 3);
}
.about div h2 {
  font-size: 24px; /* Tamaño de fuente para el encabezado h2 */
}
.about div h6 {
  font-size: 16px; /* Tamaño de fuente para el encabezado h6 */
}

.footer-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.redes-sociales {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.redes-sociales .nav-item-icono {
  font-size: 14px;
}

.bi {
  width: 90px;
  height: 40px;
  color: #000;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .hero-img {
    max-width: 100%;
    margin: 10px auto;
  }
  .hero-img img {
    height: auto;
    object-fit: scale-down;
  }
}
@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 16px;
  }
  .hero-img img {
    object-fit: contain;
  }
}

/*# sourceMappingURL=discografia.css.map */
