body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
  }
  
  .bg-gris {
    background-color: #333333;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  /* img logo*/

  .navbar-brand img {
    max-width: 100px;
    max-height: 50px;
    
  }
  
  
  
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
  
  }
  
  .hero-img {
    width: 80%;
    position: relative;
  }
  
  .hero-img img {
    width: 100%;
    height: 600px;
    object-fit: contain;
    z-index: 2;
    position: relative;
  }
  
 
  
  
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  
  /* carousel */
  
  .carousel-inner,
  .carousel-item {
    height: 700px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .producto {
    width: 100%;
    background-color: #75A9E7;
    overflow-x: hidden;
    border-radius: 5px;
  }
  
  .producto img {
    width: 100%;
    height: 300px;
   
  
  }
  
  .producto-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center; 
  }
  
  .producto-content a {
    padding: 15px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
 
  }
  
  
  
  .producto:hover {
    background-color: #000000;
  }
  
  .producto-content a:hover {
    background-color: #75A9E7;
  }
  
  /* about */
  
  .about{
    height: 600px;
    background: url('/Imagenes/gitTango.gif');
    background-size: cover;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .about div{
    width: 70%;
    text-align: center;
  }
  
  .footer-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  
  /*boton hacia arriba*/
   .bi {
    height: 40px;
    width: 90px;
    color: #000000;
   
  }
  
  @media (max-width:768px){
    .hero{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .hero-img{
      display: none;
    }
  }