// Estilos para la sección "about"
.about {
    height: 600px;
    background: url('/Imagenes/gitTango.mp4');
    background-size: cover;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
    div {
      width: 70%;
      text-align: center;
    }
  }