.semifoo{
  height: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 20, 65);
  background: linear-gradient(to top, $color-texto, rgba(207, 196, 196, 0) 70%);
  // El degradado se extiende desde abajo hacia arriba 

  div {
      width: 70%;
      text-align: center;
      
      text-shadow: 2px 0 rgb(3, 3, 3);

      h2 {
          font-size: 24px;
      }

      h6 {
          font-size: 16px; 
      }
  }
}
