// Variables reutilizables
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #acdeda;
$secondary-color: #333333;
$color-texto: #000000;


body {
  font-family: $font-family;
  overflow-x: hidden;
}

